.text-center {
  align-items: center;
}

.text-edit {
  color: #0071ad;
}

.text-danger {
  color: #a62636;
}

.pointer {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

.capitalize-input input {
  text-transform: capitalize;
}

.mb-10 {
  margin-bottom: 10px;
}
